<html>
<head>
    <style>
        #one {
            color:red;
        }
    </style>
</head>
<body>
    <p id="one">Sumeet</p>
    @{ 
        //code block 
        int a = 5;
        int b = 3;
        int c = a + b;
    }
    @c
</body>
</html>