
@{
    ViewBag.Title = "Page1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page1</h2>

@{
    Html.RenderPartial("_AddressPv");
}
    @Html.Partial("_AddressPv")


@Html.Partial("_Gallery")

